html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1e1b2afa; /* Set background color to dark gray */
    color: #f2f2f2; /* Set text color to light gray */
}

/* Center the image */
.profile-image {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* Style the container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


/* Style the buttons */
.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}

.button a:hover {
    background-color: #333;
    color: #f2f2f2;
}


/* Style the heading */
h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* Style the paragraph */
p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}



